.about {
    grid-template-columns: repeat (2, 1fr);
    margin-top: 2rem;
}

.aboutText {
    grid-column: 1;
    text-align: left;
}

.aboutText h1 {
    color: #F4CE14;
}

.aboutText h2 {
    color: #495E57;
    padding-top: 1rem;
}

.aboutText p {
    padding-top: 2rem;
}

.MarioAdrain {
    grid-column: 2;
    position: relative;
    margin: 10rem 5rem 5rem 5rem;
}

.MarioAdrain .image1 {
    border-radius: 1rem;
    top: 0;
    right: 0;
    position: relative;
}

.MarioAdrain .image2 {
    border-radius: 1rem;
    position: absolute;
    bottom: 10rem;
    left: 5rem;
}

@media (max-width: 915px) {
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .MarioAdrain {
        grid-column: 1;
        flex-direction: row;
    }

    .MarioAdrain .image1 {
        max-width: 50%;
        top: 0;
        right: 0;
    }

    .MarioAdrain .image1 {
        max-width: 50%;
        top: 0;
        right: 0;
    }
}

@media (max-width: 715px) {
    .about {
        grid-template-rows: repeat(3, auto);
    }

    .MarioAdrain .image1 {
        max-width: 100%;
        top: 0;
        right: 0;
    }

    .MarioAdrain .image1 {
        max-width: 100%;
        top: 0;
        right: 0;
    }
}