.menu-card {
    grid-column: auto;
    background-color: #EDEFEE;
    grid-row: 2;
    min-height: 30rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.menu-card:hover .menu-card-image img {
    transform: scale(1.2);
}

.menu-card-image img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.5s;
}

.menu-card-header,
.menu-card-body-footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu-card-header {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.menu-card-header h3 {
    font-size: 1.15rem;
}

.menu-card-header span {
    font-weight: bold;
    color: #EE9972;
}

.menu-card-body-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
}

.menu-card-body-footer a {
    font-weight: bold;
}

.menu-card-body-footer svg {
    margin-left: 0.5rem;
}

@media (max-width: 960px) {
    .menu-card {
        grid-row: auto;
    }
}